/* * { */
/* 	border: 1px solid red; */
/* } */

/* CSS RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}


:root {
	color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: black;
		--bg-color: white;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #f5f5f5;
		--bg-color: #1a1a1a;
	}
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	min-height: 100vh;
	font-size: 18px;
	line-height: 1.6;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}



main {
	flex: 1;
}

/* ALL ELEMENTS IN CENTER */
header,
main,
footer {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

/* HEADER STYLES */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0px;
}

nav>ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 15px
}

a {
	color: inherit;
	text-decoration: none;
	padding: 12px 4px;
}



nav>a {
	font-size: 20px;
}


a:hover {
	text-decoration: underline;
}
/* SVG SPECIFIC STYLES */
.nav-icon {
    width: 15px;  
    height: 15px;
    fill: currentColor; 
}
