---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "James Vongphasouk";
const jobLocation = "Intermountain Health";
const age = 24;
import { Image } from "astro:assets";
import profileImage from "../../assets/profile.jpeg";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <Image
      src={profileImage}
      alt="Profile of James Vongphasouk"
      layout="constrained"
      width={150}
      height={150}
    />
    <ul>
      <li>
        Software engineer, professional Redditor, and Stack Overflow
        archaeologist
      </li>
      <li>
        @ {jobLocation} building backend services for healthcare data
      </li>
      <li>MS in Computer Science, Colorado School of Mines (2024)</li>
      <li>{age}+ YOE in living</li>
    </ul>
  </div>
  <style>
    .container {
      display: flex;
      gap: 1rem;
    }
    .container > img {
      padding: 5px;
    }
    .container > ul {
      min-width: 0;
      flex: 1;
      overflow-wrap: break-word;
      display: flex;
      flex-direction: column;
    }
    li {
      margin: 10px 0px;
    }
  </style>
</BaseLayout>
