---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>TODO: add some of my favorite projects over the years with links</h2>
</BaseLayout>
