---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
  }
</style>
<footer>
  <p>Copyright &copy; 2025 James Vongphasouk</p>
  <p>
    <a href="mailto:james.vongpha@gmail.com">Contact</a>
    |
    <Social platform="GitHub" username="JamesVpog" />
  </p>
</footer>
