---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props; //grabs the frontmatter from md file
const tags = frontmatter.tags;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <slot />
</BaseLayout>
